<!DOCTYPE html>
<html>
    <head>
        <title>Op Pad in Praag</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Op Pad in Praag</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Mijn eerste post</a></h2>
            <p>Dag 1 besteden we aan de workshop Django Girls</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Mijn tweede post</a></h2>
            <p>Deze workshop beslaat de gehele eerste dag</p>
        </article>
    </body>
    <footer>--------------------</footer>
    <footer>Op Pad in Praag</footer>
</html>